{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "entry",
        "targets": "> 0.25%, not dead"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [["@babel/plugin-transform-runtime", { "useESModules": false }]]
}
